.homeContainer {
  padding-top: 50px;
}
.homeContainer .homeBody {
  padding-left: 80px;
}
.table .notesIcon {
  color: rgb(103, 150, 239);
}
.table .deleteIcon {
  color: #e84c49;
}
.table .tableHeader th {
  padding: 48px 15px;
  color: #b4bccc;
  background-color: #f2f4f9;
  font-size: 19.54px;
  border-bottom: none;
  text-align: center;
}
.tableDiv .tableContainter {
  width: 80%;
  margin-top: 50px;
}
.tableDiv {
  width: 80vw;
  margin-top: 45px;
}
.table td {
  border-bottom: 0;
  padding: 48px 30px;
  font-size: 19.54px;
  color: #2e2b61;
  font-family: Cer_pro_medium;
  text-align: center;
}
.myFlows {
  margin-left: 100px;
  margin-top: 40px;
}
.myFlows .myFlowsContainer {
  width: 233px;
  height: 239px;
  margin-top: 60px;
  background-color: rgb(103, 150, 239);
  border-radius: 10px;
}
.myFlowsContainer {
  gap: 25px;
}
.myFlows .myFlowsContainer .myFlowsAdd {
  font-size: 70px;
}

.myFlows .myFlowsContainer .myFlowsPara {
  font-size: 20.3px;
}
.createTodoContainer {
  margin-top: 45px;
  width: 80vw;
}
.createTodoContainer .createTodoForm {
  margin-top: 50px;
  width: 65%;
}
#exampleFormControlTextarea1::placeholder {
  color: #d7dce1;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: none;
}
